@model Entities.Concrate.Skills

@{
    ViewData["Title"] = "Özgeçmiş";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Özgeçmiş</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Yeteneklerim</li>
            <li class="breadcrumb-item" aria-current="page">Yetenek Ekleme</li>
        </ul>
    </div>
</div>

<form method="post" class="form-control">
    <label>Yetenek Adı</label>
    <input type="text" asp-for="SkillsContent" class="form-control"/>
    @Html.ValidationMessageFor(x=> x.SkillsContent)
    <br/>
    <label>Yüzde</label>
    <input type="text" asp-for="SkillsNumber" class="form-control"/>
    @Html.ValidationMessageFor(x=> x.SkillsNumber)
    <br/>
    <button class="btn btn-outline-dark">Ekle</button>
</form>