@model System.Collections.Generic.List<Entities.Concrate.Skills>

@{
    ViewData["Title"] = "Yeteneklerim";
    Layout = "_Layout";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Özgeçmiş</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Yeteneklerim</li>
        </ul>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Yetenek</th>
        <th>Yüzde</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillsContent</td>
            <td>@item.SkillsNumber</td>
            <td><a href="~/Skills/Update/@item.SkillsId" class="btn btn-outline-dark">Güncelle</a></td>
            <td><a href="~/Skills/Delete/@item.SkillsId" class="btn btn-outline-dark">Sil</a></td>
        </tr>
    }
</table>

<a href="~/Skills/Add" class="btn btn-outline-dark">Yeni Yetenek Ekle</a>