@model System.Collections.Generic.List<Entities.Concrate.ExperiencePage>


                            @foreach (var item in Model)
                            {
                                <li class="timeline-item">
                                    <h3 class="h4 timeline-item-title">@item.ExperiencePageContentlow</h3>
                                    <span>@item.ExperiencePageText</span>
                                    <p class="timeline-text">@item.ExperiencePageTime</p>
                                </li>
                            }

               



