@model System.Collections.Generic.List<Entities.Concrate.ExperiencePage>


                            @foreach (var item in Model)
                            {
                                <li class="timeline-item">
                                    <h4 class="h4 timeline-item-title">@item.ExperiencePageContentlow</h4>
                                    <span>@item.ExperiencePageTime</span>
                                    <p class="timeline-text">@item.ExperiencePageText</p>
                                </li>
                            }

               



