@model Entities.Concrate.Map

@{
    ViewData["Title"] = "İletişim Map Güncelle";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">İletişim</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Map</li>
            <li class="breadcrumb-item" aria-current="page">Map Güncelle</li>
        </ul>
    </div>
</div>

<form method="post" class="form-control">
    <input type="hidden" asp-for="MapId"/>
    <label>Kod</label>
    <textarea rows="10" asp-for="MapUrl" class="form-control" required></textarea>
    <br/>
    <button class="btn btn-outline-warning">Kaydet</button>
</form>