@model List<Entities.Concrate.About>
@{
    ViewData["Title"] = "Hakkımda";
    Layout = "_Layout";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Anasayfa</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Hakkımda</li>
        </ul>
    </div>
</div>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutContent</td>
        </tr>
        <tr>
            <td><br/></td>
        </tr>
        <tr>
            <td><a class="btn btn-outline-dark" href="~/About/Update/@item.AboutId">Güncelle</a></td>
        </tr>
    }
</table>
<br/>
