@model Entities.Concrate.Experience

@{
    ViewData["Title"] = "Yeni Görsel Ekle";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Anasayfa</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Deneyimlerim</li>
        </ul>
    </div>
</div>

<form method="post" class="form-control">
    <label>Görsel Yolu</label>
    <input type="text" asp-for="ExperiencImage" class="form-control" />
    <br/>
    <button class="btn btn-outline-warning">Ekle</button>
</form>