@model System.Collections.Generic.List<Entities.Concrate.Experience>

@{
    ViewData["Title"] = "Servisler";
    Layout = "_Layout";
}


<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Anasayfa</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Deneyimlerim</li>
        </ul>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Görsel Yolu</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><img src="@item.ExperiencImage" width="300" alt="Görsel Yok"/></td>
            <td><a href="~/Experince/Delete/@item.ExperienceId" class="btn btn-outline-dark">Sil</a></td>
        </tr>
    }
</table>

<a href="~/Experince/Add" class="btn btn-outline-dark">Yeni Görsel Ekle</a>