<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a href="/Anasayfa" class="navbar-link">Hakkımda</a>
        </li>

        <li class="navbar-item">
            <a href="/Ozgecmis" class="navbar-link">Özgeçmiş</a>
        </li>

        <li class="navbar-item">
            <a href="/Projeler" class="navbar-link">Projeler</a>
        </li>

        <li class="navbar-item">
            <a href="/Blog" class="navbar-link">Blog</a>
        </li>

        <li class="navbar-item">
            <a href="/Iletisim" class="navbar-link">İletişim</a>
        </li>
    </ul>
</nav>