@model Entities.Concrate.Education

@{
    ViewData["Title"] = "Özgeçmiş - Deneyim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mt-4 mb-4" style="margin-left: 12rem">Deneyim Ekle</h2>

<div class="container">
    <form method="post" class="mb-4 p-3 border rounded bg-white shadow-sm">

        
        <div class="mb-3">
            <label class="form-label fw-bold">Alt Başlık</label>
            <span class="text-danger" asp-validation-for="EducationContentlow"></span>
            <input type="text" asp-for="EducationContentlow" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Tarih</label>
            <span class="text-danger" asp-validation-for="EducationTime"></span>
            <input type="text" asp-for="EducationTime" class="form-control" />
        </div>
        
        <div class="mb-3">
            <label class="form-label fw-bold">Açıklama</label>
            <span class="text-danger" asp-validation-for="EducationText"></span>
            <input type="text" asp-for="EducationText" class="form-control" />
        </div>
        
        <button type="submit" class="btn btn-success">Kaydet</button>
    </form>
</div>