@model System.Collections.Generic.List<Entities.Concrate.Education>

@{
    ViewData["Title"] = "Özgeçmiş";
    Layout = "_Layout";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Özgeçmiş</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Deneyim</li>
        </ul>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Açıklama</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item</td>
            <td>@item.EducationContentlow</td>
            <td>@item.EducationText</td>
            <td><a href="~/Education/Update/@item.EducationId" class="btn btn-outline-dark">Güncelle</a></td>
            <td><a href="~/Education/Delete/@item.EducationId" class="btn btn-outline-dark">Sil</a></td>
        </tr>
    }
</table>

    <a href="~/Education/Add" class="btn btn-outline-dark">Yeni Deneyim Ekle</a>