@model Dto.Portfolio.CreatePortfolioDto

@{
    ViewData["Title"] = "Projelerim";
    Layout = "_Layout";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Projeler</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Proje Ekle</li>
        </ul>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    <label>Proje Görseli</label>
    <input type="file" asp-for="PortfolioImage" class="form-control"/>
    @Html.ValidationMessageFor(x=>x.PortfolioImage)
    <br/>
    <label>Proje Adı</label>
    <input type="text" asp-for="PortfolioName" class="form-control"/>
    @Html.ValidationMessageFor(x=>x.PortfolioName)
    <br/>
    <label>Kategori</label>
    <input type="text" asp-for="PortfolioCategory" class="form-control"/>
    @Html.ValidationMessageFor(x=>x.PortfolioCategory)
    <br/>
    <label>Proje Linki</label>
    <input type="text" asp-for="PortfolioLink" class="form-control"/>
    @Html.ValidationMessageFor(x=>x.PortfolioLink)
    <br/>
    <button class="btn btn-outline-warning">Kaydet</button>
</form>