@model System.Collections.Generic.List<Entities.Concrate.Portfolio>

@{
    ViewData["Title"] = "Projeler";
    Layout = "_Layout";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Projeler</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"></li>
        </ul>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Proje Görseli</th>
        <th>Proje İsmi</th>
        <th>Kategori</th>
        <th>Proje Link</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PortfolioImage</td>
            <td>@item.PortfolioName</td>
            <td>@item.PortfolioCategory</td>
            <td>@item.PortfolioLink</td>
            <td><a href="~/Portfolio/Delete/@item.PortfolioId" class="btn btn-outline-dark">Sil</a></td>
            <td><a href="~/Portfolio/Update/@item.PortfolioId" class="btn btn-outline-dark">Güncelle</a></td>
        </tr>
    }
</table>
<a href="~/Portfolio/Add" class="btn btn-outline-dark">Yeni Proje Ekle</a>

