@model Entities.Concrate.Portfolio

@{
    ViewData["Title"] = "Projelerim";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Projeler</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Proje Güncelle</li>
        </ul>
    </div>
</div>

<form asp-action="Update" method="post" class="form-control p-4">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="PortfolioId"/>

    <label>Proje Görseli</label>
    <input asp-for="PortfolioImage" class="form-control"/>
    <br/>

    <label>Proje Adı</label>
    <input asp-for="PortfolioName" class="form-control"/>
    <br/>

    <label>Kategori</label>
    <input asp-for="PortfolioCategory" class="form-control"/>
    <br/>

    <label>Proje Linki</label>
    <input asp-for="PortfolioLink" class="form-control"/>
    <br/>

    <button type="submit" class="btn btn-outline-warning">
        Kaydet
    </button>
</form>

<div style="display:flex; flex-direction:row; gap:8px; margin-top:8px;">

    <form asp-action="Delete" method="post" style="margin:0; padding:0;">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.PortfolioId"/>
        <button type="submit" class="btn btn-outline-danger">
            Sil
        </button>
    </form>

    <a href="~/Portfolio/Index" class="btn btn-outline-dark">
        İptal
    </a>

</div>