@model List<Entities.Concrate.Blog>
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Anasayfa</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Blog Yazıları</li>
        </ul>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>İşlem</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogTitle</td>
            <td>@item.BlogDate</td>
            <td>@item.Category.CategoryName</td>
            <td class="text-center">
                @if (item.BlogStatus)
                {
                    <span class="badge bg-light text-info border">
                        Aktif
                    </span>
                }
                else
                {
                    <span class="badge bg-light text-secondary border">
                        Pasif
                    </span>
                }
            </td>
            @if (@item.BlogStatus == true)
            {
                <td><a href="~/Blog/ChangeStatus/@item.BlogId" class="btn btn-outline-dark">Taslak</a></td>
            }
            else
            {
                <td><a href="~/Blog/ChangeStatus/@item.BlogId" class="btn btn-outline-info">Yayınla</a></td>
            }
            <td><a href="~/Blog/Update/@item.BlogId" class="btn btn-outline-dark">Güncelle</a></td>
            <td><a href="~/Blog/Delete/@item.BlogId" class="btn btn-outline-dark">Sil</a></td>
        </tr>
    }
</table>

<a href="~/Blog/Add" class="btn btn-outline-dark">Yeni Blog Ekle</a>
