<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="navbar-content h-[calc(100vh_-_74px)] py-2.5">
      <ul class="pc-navbar">
        <br></br>
        <li class="pc-item">
          <a href="~/Default/Anasayfa" class="pc-link">
            <span class="pc-micon">
              <i data-feather="home"></i>
            </span>
            <span class="pc-mtext">Siteye Git</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="~/Admin/Anasayfa" class="pc-link">
            <span class="pc-micon">
              <i data-feather="home"></i>
            </span>
            <span class="pc-mtext">Admin Anasayfa</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="~/ContactMail/Unread" class="pc-link">
            <span class="pc-micon"> <i data-feather="message-circle"></i></span>
            <span class="pc-mtext">Mesajlar</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="~/images/Index" class="pc-link">
            <span class="pc-micon"> <i data-feather="file"></i></span>
            <span class="pc-mtext">Görseller</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="~/NavbarLeft/index" class="pc-link">
            <span class="pc-micon"> <i data-feather="menu"></i></span>
            <span class="pc-mtext">Sol Menü</span>
          </a>
        </li>
        
        <li class="pc-item pc-caption">
          <label>Blog</label>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="~/Blog/Index" class="pc-link">
            <span class="pc-micon"> <i data-feather="edit-3"></i></span>
            <span class="pc-mtext">Blog Yazıları</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="~/Category/CategoryList" class="pc-link">
            <span class="pc-micon"> <i data-feather="edit-3"></i></span>
            <span class="pc-mtext">Kategoriler</span>
          </a>
        </li>
        
        <li class="pc-item pc-caption">
          <label>Hakkımda Sayfası</label>
        </li>
        <li class="pc-item">
        <li class="pc-item pc-hasmenu">
          <a href="~/About/index" class="pc-link">
            <span class="pc-micon"> <i data-feather="file-minus"></i></span>
            <span class="pc-mtext">Hakkımda</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="~/Service/index" class="pc-link">
            <span class="pc-micon"> <i data-feather="feather"></i></span>
            <span class="pc-mtext">Servisler</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="~/Experince/index" class="pc-link">
            <span class="pc-micon"> <i data-feather="feather"></i></span>
            <span class="pc-mtext">Deneyimlerim</span>
          </a>
        </li>
        <li class="pc-item pc-caption">
          <label>Özgeçmiş Sayfası</label>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="~/ExprenicePage/index" class="pc-link">
            <span class="pc-micon"> <i data-feather="feather"></i></span>
            <span class="pc-mtext">Eğitim</span>
          </a>
        </li>

        <li class="pc-item pc-hasmenu">
          <a href="~/Education/index" class="pc-link">
            <span class="pc-micon"> <i data-feather="feather"></i></span>
            <span class="pc-mtext">Deneyim</span>
          </a>
        </li>

        <li class="pc-item pc-hasmenu">
          <a href="~/Skills/index" class="pc-link">
            <span class="pc-micon"> <i data-feather="feather"></i></span>
            <span class="pc-mtext">Yeteneklerim</span>
          </a>
        </li>

        <li class="pc-item pc-caption">
          <label>Projeler Sayfası</label>
        </li>

        <li class="pc-item pc-hasmenu">
          <a href="~/Portfolio/Index" class="pc-link">
            <span class="pc-micon"> <i data-feather="slack"></i></span>
            <span class="pc-mtext">Projeler</span>
          </a>
        </li>

        <li class="pc-item pc-caption">
          <label>Ayarlar</label>
        </li>

        <li class="pc-item pc-hasmenu">
          <a href="~/Register/UserList" class="pc-link">
            <span class="pc-micon"> <i data-feather="user"></i></span>
            <span class="pc-mtext">Kullanıcılar</span>
          </a>
        </li>

        <li class="pc-item pc-hasmenu">
          <a href="~/Google/GoogleAnalytics" class="pc-link">
            <span class="pc-micon"> <i data-feather="award"></i></span>
            <span class="pc-mtext">Google</span>
          </a>
        </li>
        
        <li class="pc-item pc-hasmenu">
          <a href="~/Map/Index" class="pc-link">
            <span class="pc-micon"> <i data-feather="map"></i></span>
            <span class="pc-mtext">Map</span>
          </a>
        </li>
        
        <li class="pc-item pc-hasmenu">
          <a href="~/Login/Logout" class="pc-link">
            <span class="pc-micon"> <i data-feather="log-in"></i></span>
            <span class="pc-mtext">Çıkış Yap</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>