@model System.Collections.Generic.List<Entities.Concrate.Experience>


<section class="clients">
    <h2 class="h3 clients-title">Sertifikalarım</h2>
    <br/>
    <ul class="project-list">
        @foreach (var item in Model)
        {
            <li class="project-item active">
                
                <a href="@item.ExperiencImage" target="_blank">
                    <figure class="project-img">
                        <div class="project-item-icon-box">
                            <ion-icon name="eye-outline"></ion-icon>
                        </div>

                        <img src="@item.ExperiencImage" style="height: 200px;" alt="Furkan Türker" loading="lazy">
                    </figure>
                </a>
            </li>
        }
    </ul>
</section>