@model System.Collections.Generic.List<Entities.Concrate.Experience>


<section class="clients">
    <h2 class="h3 clients-title">Sertifikalarım</h2>

    <ul class="clients-list has-scrollbar">
        @foreach (var item in Model)
        {
            <li class="clients-item">
                <a href="#"><img src="@item.ExperiencImage" alt="logo"></a>
            </li>
        }
    </ul>
</section>