@model Entities.Concrate.ExperiencePage

@{
    ViewData["Title"] = "Eğitim Ekle";
    Layout = "_Layout";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Özgeçmiş</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Eğitim</li>
            <li class="breadcrumb-item" aria-current="page">Eğitim Ekle</li>
        </ul>
    </div>
</div>

<form method="post" class="form-control">
    <label>Başlık</label>
    <input type="text" asp-for="ExperiencePageContentlow" class="form-control" />
    @Html.ValidationMessageFor(x=> x.ExperiencePageContentlow)
    <br/>
    <label>Açıklama</label>
    <input type="text" asp-for="ExperiencePageText" class="form-control" />
    @Html.ValidationMessageFor(x=> x.ExperiencePageText)
    <br/>
    <label>Tarih</label>
    <input type="text" asp-for="ExperiencePageTime" class="form-control" />
    @Html.ValidationMessageFor(x=> x.ExperiencePageTime)
    <br/>
    <button class="btn btn-outline-warning">Kaydet</button>
</form>