@model System.Collections.Generic.List<Entities.Concrate.ExperiencePage>

@{
    ViewData["Title"] = "Özgeçmiş";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">Özgeçmiş</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Eğitim</li>
        </ul>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Açıklama</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ExperiencePageContentlow</td>
            <td>@item.ExperiencePageTime</td>
            <td>@item.ExperiencePageText</td>
            <td><a href="~/ExprenicePage/Update/@item.ExperiencePageId" class="btn btn-outline-dark">Güncelle</a></td>
            <td><a href="~/ExprenicePage/Delete/@item.ExperiencePageId" class="btn btn-outline-dark">Sil</a></td>
        </tr>
    }
</table>

<a href="~/ExprenicePage/Add" class="btn btn-outline-dark">Yeni Eğitim Ekle</a>

