@model List<Dto.Contact.ResultContactDto>
@{
    ViewData["Title"] = "İletişim";
    Layout = "_Layout";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h5 class="mb-0 font-medium">İletişim</h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Mesajlar</li>
        </ul>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>İsim Soyisim</th>
        <th>Mail</th>
        <th>Mesaj</th>
        <th>Okundu</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td><textarea class="form-control" rows="4" readonly>@item.Message</textarea></td>
            <td><a href="#" class="btn btn-outline-dark">Okundu</a></td>
        </tr>
    }
</table>