@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @await Component.InvokeAsync("_GooglePartial")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furkan Türker</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta
        name="description"
        content="Furkan Türker tarafından geliştirilen modern web projeleri, yazılım eğitim notları ve blog içeriklerinin yer aldığı portföy sitesi. HTML, CSS, JavaScript ve .NET projelerine dair detaylı örnekler."/>

    <meta
        name="keywords"
        content="Furkan Türker, Web Developer, Yazılım Geliştirici, HTML CSS JS, .NET Core, ASP.NET MVC, portföy sitesi, programlama blogu, yazılım projeleri"/>

    <meta name="author" content="Furkan Türker"/>
    

    <!-- [Favicon] icon -->
    <link rel="icon" href="~/img/turker.webp"/>
    
    
    <link rel="stylesheet" href="~/site/style.css">

</head>
<body>
    <main>
        @await Component.InvokeAsync("_NavbarLeftPartial");

        <div class="main-content">
            <nav class="navbar">
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="/Anasayfa" class="navbar-link active">Hakkımda</a>
                    </li>

                    <li class="navbar-item">
                        <a href="/Ozgecmis" class="navbar-link">Özgeçmiş</a>
                    </li>

                    <li class="navbar-item">
                        <a href="/Projeler" class="navbar-link">Projeler</a>
                    </li>

                    <li class="navbar-item">
                        <a href="/Blog" class="navbar-link">Blog</a>
                    </li>

                    <li class="navbar-item">
                        <a href="/Iletisim" class="navbar-link">İletişim</a>
                    </li>
                </ul>
            </nav>
            <article class="about active" data-page="about">  
                <header>
                    <h2 class="h2 article-title">Hakkımda</h2>
                </header>

                @await Component.InvokeAsync("_AboutPartial");
                

                @await Component.InvokeAsync("_ServicePartial");
                

                <!--<section class="testimonials">
                    <h3 class="h3 testimonials-title">Testimonials</h3>

                    <ul class="testimonials-list has-scrollbar">
                        <li class="testimonials-item">
                            <div class="content-card" data-testimonials-item>
                                <figure class="testimonials-avatar-box">
                                    <img src="https://i.postimg.cc/zGDHfn3G/avatar-1.png" alt="avatar" data-testimonials-avatar width="60">
                                </figure>

                                <h4 class="h4 testimonials-item-title" data-testimonials-title>Daniel Lewis</h4>

                                <div class="testimonials-text" data-testimonials-text>
                                    <p>Richard was hired to create a corporate identity. It's modern, clean and with a beautiful design that got a lot of praises from colleagues and visitors. We were very pleased with the work done. He has a lot of experience and is very concerned about the needs of client.</p>
                                </div>
                            </div>
                        </li>

                        <li class="testimonials-item">
                            <div class="content-card" data-testimonials-item>
                                <figure class="testimonials-avatar-box">
                                    <img src="https://i.postimg.cc/DwY0yHtx/avatar-2.png" alt="avatar" data-testimonials-avatar width="60">
                                </figure>

                                <h4 class="h4 testimonials-item-title" data-testimonials-title>Jessica Miller</h4>

                                <div class="testimonials-text" data-testimonials-text>
                                    <p>Working with Richard has been an absolute pleasure. I was impressed with his attention to detail, his web design skills and his professional approach to our timelines and processes.</p>
                                </div>
                            </div>
                        </li>

                        <li class="testimonials-item">
                            <div class="content-card" data-testimonials-item>
                                <figure class="testimonials-avatar-box">
                                    <img src="https://i.postimg.cc/fRFWhX9F/avatar-3.png" alt="avatar" data-testimonials-avatar width="60">
                                </figure>

                                <h4 class="h4 testimonials-item-title" data-testimonials-title>Emily Evans</h4>

                                <div class="testimonials-text" data-testimonials-text>
                                    <p>I couldn't be happier with the website that Richard created for us. His attention to detail and creativity is unmatched. Our clients frequently compliment the design, and it has significantly improved our brand image.</p>
                                </div>
                            </div>
                        </li>

                        <li class="testimonials-item">
                            <div class="content-card" data-testimonials-item>
                                <figure class="testimonials-avatar-box">
                                    <img src="https://i.postimg.cc/zXv1Xv81/avatar-4.png" alt="avatar" data-testimonials-avatar width="60">
                                </figure>

                                <h4 class="h4 testimonials-item-title" data-testimonials-title>Henry Williams</h4>

                                <div class="testimonials-text" data-testimonials-text>
                                    <p>I was overwhelmed with the thought of redesigning my online store, but Richard made the process seamless. The site is not only visually appealing but also optimized for conversions. I've seen a 50% increase in traffic since the launch!</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section> > -->

                <div class="modal-container " data-modal-container>
                    <div class="overlay " data-overlay></div>

                    <section class="testimonials-modal">
                        <button class="modal-close-btn" data-modal-close-btn><ion-icon name="close-outline"></ion-icon></button>

                        <div class="modal-img-wrapper">
                            <figure class="modal-avatar-box">
                                @*<img src="https://i.postimg.cc/zGDHfn3G/avatar-1.png" alt="Daniel Lewis" width="80" data-modal-img>*@
                            </figure>

                            @*<img src="https://i.postimg.cc/mZ00RwX7/icon-quote.png" alt="quote icon">*@
                        </div>

                        <div class="modal-content">
                            <h4 class="h3 modal-title" data-modal-title>Daniel Lewis</h4>
                            <time datetime="2023-06-14">14 June, 2023</time>

                            <div class="modal-text" data-modal-text>
                                <p>Richard was hired to create a corporate identity. It's modern, clean and with a beautiful design that got a lot of praises from colleagues and visitors. We were very pleased with the work done. He has a lot of experience and is very concerned about the needs of client.</p>
                            </div>
                        </div>
                    </section>
                </div>

                @await Component.InvokeAsync("_ExperincePartial");

            </article>
        </div>
    </main>

    <script src="~/site/main.js"></script>

    <script type="module" src="/https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="/https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>