@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    @await Component.InvokeAsync("_GooglePartial")

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Blog | Furkan Türker</title>

    <meta name="description"
          content=".NET, yazılım mimarisi ve web geliştirme üzerine teknik blog yazıları." />

    <link rel="canonical" href="https://furkanturker.com/blog" />

    <meta property="og:title" content="Yazılım Blogu | Furkan Türker" />
    <meta property="og:description" content="Teknik yazılar ve yazılım notları" />
    <meta property="og:image" content="https://furkanturker.com/img/blog-furkan-turker.webp" />

    <meta name="twitter:card" content="summary_large_image" />

    <link rel="icon" type="image/png" href="https://furkanturker.com/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="https://furkanturker.com/img/favicon.svg" />
    <link rel="shortcut icon" href="https://furkanturker.com/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://furkanturker.com/img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Furkan" />
    <link rel="manifest" href="https://furkanturker.com/img/site.webmanifest" />

    <link rel="stylesheet" href="~/site/style.css" />
</head>


<body>
<main>
    @await Component.InvokeAsync("_NavbarLeftPartial")

    <div class="main-content">
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="https://furkanturker.com/" class="navbar-link">Hakkımda</a>
                </li>

                <li class="navbar-item">
                    <a href="/Ozgecmis" class="navbar-link">Özgeçmiş</a>
                </li>

                <li class="navbar-item">
                    <a href="/Projeler" class="navbar-link">Projeler</a>
                </li>

                <li class="navbar-item">
                    <a href="/Blog" class="navbar-link active">Blog</a>
                </li>

                <li class="navbar-item">
                    <a href="/Iletisim" class="navbar-link">İletişim</a>
                </li>
            </ul>
        </nav>
         <article class="blog active" data-page="blog">
                <header>
                    <h2 class="h2 article-title">Blog</h2>
                </header>
                <ul class="filter-list">
                    <li class="filter-item"><button class="active" data-filter-btn>Tümü</button></li>
                    <li class="filter-item"><button class="" data-filter-btn>Proje Yazıları</button></li>
                </ul>

                <div class="filter-select-box">
                    <button class="filter-select" data-select>
                        <div class="select-value" data-select-value>Kategori Seç</div>

                        <div class="select-icon">
                            <ion-icon name="chevron-down"></ion-icon>
                        </div>
                    </button>

                    <ul class="select-list">
                        <li class="select-item"><button data-select-item>Tümü</button></li>
                        <li class="select-item"><button data-select-item>Proje Yazıları</button></li>
                    </ul>
                </div>
                @await Component.InvokeAsync("_BlogPagePartial")
            </article>
    </div>
</main>

<script src="~/site/main.js"></script>

<script type="module" src="/https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="/https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>