@model Entities.Concrate.Contact
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    @await Component.InvokeAsync("_GooglePartial")

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>İletişim | Furkan Türker</title>

    <meta name="description"
          content="Furkan Türker ile yazılım projeleri, iş birlikleri ve freelance çalışmalar için iletişime geçin." />

    <link rel="canonical" href="https://furkanturker.com/iletisim" />

    <meta property="og:title" content="İletişim | Furkan Türker" />
    <meta property="og:description" content="Benimle iletişime geçin" />
    <meta property="og:image" content="https://furkanturker.com/img/iletisim-furkan-turker.webp" />

    <meta name="twitter:card" content="summary_large_image" />

    <link rel="icon" type="image/png" href="https://furkanturker.com/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="https://furkanturker.com/img/favicon.svg" />
    <link rel="shortcut icon" href="https://furkanturker.com/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://furkanturker.com/img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Furkan" />
    <link rel="manifest" href="https://furkanturker.com/img/site.webmanifest" />


    <link rel="stylesheet" href="~/site/style.css" />
</head>

<body>
<main>
    @await Component.InvokeAsync("_NavbarLeftPartial")

    <div class="main-content">
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="https://furkanturker.com/" class="navbar-link">Hakkımda</a>
                </li>

                <li class="navbar-item">
                    <a href="/Ozgecmis" class="navbar-link">Özgeçmiş</a>
                </li>

                <li class="navbar-item">
                    <a href="/Projeler" class="navbar-link">Projeler</a>
                </li>

                <li class="navbar-item">
                    <a href="/Blog" class="navbar-link">Blog</a>
                </li>

                <li class="navbar-item">
                    <a href="/Iletisim" class="navbar-link active">İletişim</a>
                </li>
            </ul>
        </nav>
        <article class="contact active" data-page="contact">
            <header>
                <h1 class="h2 article-title">İletişim</h1>
            </header>

            <section class="mapbox" data-mapbox>
                <figure>
                    @await Component.InvokeAsync("_MapComponentPartial")
                </figure>
            </section>


            <section class="contact-form">
                <h2 class="h3 form-title">İletişim Formu</h2>

                <form asp-controller="Default" asp-action="Iletisim" method="post">

                    @Html.AntiForgeryToken()
                    
                    <div class="input-wrapper">
                        <input type="text"  asp-for="Name" class="form-input" placeholder="İsim Soyisim" required data-form-input>
                        <input type="email" asp-for="Email" class="form-input" placeholder="Email Adresi" required data-form-input>
                    </div>

                    <textarea class="form-input" asp-for="Message" placeholder="Mesajın" required data-form-input=""></textarea>

                    <button class="form-btn" type="submit"  data-form-btn>
                        <ion-icon name="paper-plane"></ion-icon>
                        <span>Mesajı Gönder</span>
                    </button>
                </form>
            </section>
        </article>
    </div>
</main>
@if (TempData["Basarili"] != null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        Toast.fire({
            icon: "success",
            title: "@TempData["Basarili"]"
        });
    </script>
}

@await Component.InvokeAsync("_ThemaScriptComponentPartial")

</body>
</html>