@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    @await Component.InvokeAsync("_GooglePartial")

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Özgeçmiş | Furkan Türker</title>

    <meta name="description"
          content="Furkan Türker’in yazılım deneyimleri, aldığı eğitimler ve .NET, ASP.NET, SQL gibi teknik yetkinlikleri." />

    <meta name="keywords"
          content="Furkan Türker CV, .NET Developer CV, yazılım geliştirici özgeçmiş" />

    <link rel="canonical" href="https://furkanturker.com/ozgecmis" />

    <meta property="og:title" content="Özgeçmiş | Furkan Türker" />
    <meta property="og:description" content="Deneyim, eğitim ve teknik yetenekler" />
    <meta property="og:image" content="https://furkanturker.com/img/og-cv.webp" />

    <meta name="twitter:card" content="summary_large_image" />

    <link rel="icon" href="/img/turker.webp" />
    <link rel="stylesheet" href="/site/style.css" />
</head>

<body>
<main>
    @await Component.InvokeAsync("_NavbarLeftPartial");

    <div class="main-content">
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="/Anasayfa" class="navbar-link">Hakkımda</a>
                </li>

                <li class="navbar-item">
                    <a href="/Ozgecmis" class="navbar-link active">Özgeçmiş</a>
                </li>

                <li class="navbar-item">
                    <a href="/Projeler" class="navbar-link">Projeler</a>
                </li>

                <li class="navbar-item">
                    <a href="/Blog" class="navbar-link">Blog</a>
                </li>

                <li class="navbar-item">
                    <a href="/Iletisim" class="navbar-link">İletişim</a>
                </li>
            </ul>
        </nav>
        <article class="resume active" data-page="resume">  
            <header>
                <h1 class="h2 article-title">Özgeçmiş</h1>
            </header>
                
            <section class="timeline">
                <div class="title-wrapper">
                    <div class="icon-box"><ion-icon name="book-outline"></ion-icon></div>

                    <h2 class="h3">Deneyim</h2>
                </div>

                <ol class="timeline-list">
                    @await Component.InvokeAsync("_EducationPartial");
                </ol>
            </section>
            <section class="timeline">
                <div class="title-wrapper">
                    <div class="icon-box"><ion-icon name="book-outline"></ion-icon></div>

                    <h2 class="h3">Eğitim</h2>
                </div>
                    
                <ol class="timeline-list">
                    @await Component.InvokeAsync("_ExperincePagePartial");
                </ol>
            </section>


            @await Component.InvokeAsync("_SkillsPartial");
        </article>
    </div>
</main>

<script src="~/site/main.js"></script>

<script type="module" src="/https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="/https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>