@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    @await Component.InvokeAsync("_GooglePartial")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furkan Türker</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta
        name="description"
        content="Furkan Türker tarafından geliştirilen modern web projeleri, yazılım eğitim notları ve blog içeriklerinin yer aldığı portföy sitesi. HTML, CSS, JavaScript ve .NET projelerine dair detaylı örnekler."/>

    <meta
        name="keywords"
        content="Furkan Türker, Web Developer, Yazılım Geliştirici, HTML CSS JS, .NET Core, ASP.NET MVC, portföy sitesi, programlama blogu, yazılım projeleri"/>

    <meta name="author" content="Furkan Türker"/>
    

    <!-- [Favicon] icon -->
    <link rel="icon" href="~/img/turker.webp"/>
    
    
    <link rel="stylesheet" href="/site/style.css">

</head>
<body>
    <main>
        @await Component.InvokeAsync("_NavbarLeftPartial");

        <div class="main-content">
            <nav class="navbar">
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="/Anasayfa" class="navbar-link">Hakkımda</a>
                    </li>

                    <li class="navbar-item">
                        <a href="/Ozgecmis" class="navbar-link">Özgeçmiş</a>
                    </li>

                    <li class="navbar-item">
                        <a href="/Projeler" class="navbar-link active">Projeler</a>
                    </li>

                    <li class="navbar-item">
                        <a href="/Blog" class="navbar-link">Blog</a>
                    </li>

                    <li class="navbar-item">
                        <a href="/Iletisim" class="navbar-link">İletişim</a>
                    </li>
                </ul>
            </nav>
            <article class="portfolio active" data-page="portfolio">
                <header>
                    <h2 class="h2 article-title">Projeler</h2>
                </header>
                @await Component.InvokeAsync("_PortfolioPartial");
            </article>
        </div>
    </main>

    <script src="/site/main.js"></script>

    <script type="module" src="/https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="/https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>