@model System.Collections.Generic.List<Entities.Concrate.Skills>
             
<section class="skill">
                    <h3 class="h3 skills-title">Yeteneklerim</h3>

                    <ul class="skills-list content-card">
                        @foreach (var item in Model)
                        {
                            <li class="skills-item">
                                <div class="title-wrapper">
                                    <h5 class="h5">@item.SkillsContent</h5>
                                    <data value="80">@item.SkillsNumber%</data>
                                </div>

                                <div class="skills-progress-bg">
                                    <div class="skills-progress-fill" style="width: @item.SkillsNumber%;"></div>
                                </div>
                            </li>
                        }
                    </ul>
                </section>
